body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #ffffff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
margin: 0;
}
a {
    text-decoration: none;
}
.container {
max-width: 1128px;
padding-left: 15px;
padding-right: 15px;
margin-left:  auto;
margin-right: auto;
}
.page-header {
 border-bottom: 1px solid #e7e9fc;
}
.header-container {
display: flex;
align-items: center;
}
.header-nav {
background: #ffffff;
display: flex;
align-items: center;
}
.header-logo {
padding: 24px 0;
margin-right: 76px;
}
.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
display: flex;
}
.header-logo .logo-part {
color: #2e2f42;
}
.logo .logo-part:hover {
background-color: #404BBF;
}
.logo .logo-part:focus {
background-color: #404BBF;
}
.nav-menu {
display: flex;
align-items: center;
gap: 40px;
}
.nav-link {
padding: 24px 0;
display: block;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.nav-link:hover {
 color: #404BBF;
}
.nav-link:focus {
color: #404BBF;
}
.address-menu {
font-style: normal;
display: flex;
margin-left: auto;

}
.address-menu-link {
display: flex;
align-items: center;
}
.address-link {
font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
display: block;
padding: 24px 0;
align-items: center;
gap: 40px;

}
.address-link:hover {
color: #404BBF;
}
.address-link:focus {
color: #404BBF;
}
#hero-image {
background: #2e2f42;
padding-top: 188px;
text-align: center;
width: 1440px;
padding: 0;
width: 1440px;
}
.hero-title {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px; 
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
margin-bottom: 48px;
margin: 0 auto;
display: block;
padding-top: 191px;

}
.order-button {
line-height: 1.5;
letter-spacing: 0.04em;
background: #4d5ae5;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #fff;
text-align: center;
margin-top: 46px;
display: block;
border: none;
border-radius: 4px;
margin-bottom: 188px;
padding: 16px 32px;
height: 56px;

}
.order-button:hover{
background-color: #404BBF;
cursor: pointer;
}
.order-button:focus {
background-color: #404BBF;
cursor: pointer;
}
#opportanities {
font-family: "Roboto", sans-serif;
background-color:#ffffff;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.opportunities-section {
font-family: "Roboto", sans-serif;
background-color: #ffffff;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.opportunities-text {
font-family: "Roboto", sans-serif;
background-color: #ffffff;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
#team {
background-color: #f4f4fd;
}
.name-section {
font-family: "Roboto", sans-serif;
background-color: #f4f4fd;
font-weight: 700;
font-size: 36px;
line-height: 111%;
text-align: center;
letter-spacing: 0.02em;
color: #2e2f42;
text-transform: capitalize;

}
.team-list {
background-color: #ffffff;

 }
.name-team {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
background-color: #ffffff;
}
.team-profession {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
background-color: #ffffff;
}
#portfolio {
overflow: hidden;
border-color: rgba(231, 233, 252, 1);
text-decoration: none;
color: inherit;
} 
.portfolio-section {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px; 
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;

}
.portfolio-list {
color: #ffffff;

}
.name-portfolio {
background: #ffffff;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;


}
.type-communication {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}
.footer-page {
background-color: #2e2f42;
line-height: 1.6;
}

.footer-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
 font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-bottom: 16px;
display: inline-block;
margin-bottom: 16px;
}
.footer-accent {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
 }
 .footer-logo-accent .link:hover,
.footer-accent .link:focus {
color: #4d5ae5;
}
.footer-text {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #f4f4fd;
margin-top: 10px;
min-width: 264px;
}